@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

/* Utility */
.Animation--fast {
  animation-duration: 1s;
}

.Animation--almost--slow {
  animation-duration: 1.2s;
}

.Animation--slow {
  animation-duration: 1.5s;
}

.Animation--slowest {
  animation-duration: 2s;
}

.Animation--infinite {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* Animation */
@keyframes SlidesInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes SlidesInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes SlidesInBottom {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes SlidesInAbove {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes SlidesInRotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.ASlidesInLeft {
  animation-name: SlidesInLeft;
  animation-delay: 0.2s;
  animation-timing-function: ease-in-out;
}
.ASlidesInRight {
  animation-name: SlidesInRight;
  animation-delay: 0.2s;
  animation-timing-function: ease-in-out;
}
.ASlidesInBottom {
  animation-name: SlidesInBottom;
  animation-delay: 0.2s;
  animation-timing-function: ease-in-out;
}
.ASlidesInAbove {
  animation-name: SlidesInAbove;
  animation-delay: 0.2s;
  animation-timing-function: ease-in-out;
}
.ASlidesInRotate {
  animation-name: SlidesInRotate;
  animation-delay: 0.2s;
  animation-timing-function: ease-in-out;
}

/* Start Line */
* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.nav-container {
  font-family: "Fredoka", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding-bottom: 10px;
  padding-top: 25px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  list-style-type: none;
}

.nav-icon {
  display: flex;
  gap: 20px;
}

li a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  justify-content: center;
}

.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 87vh;
}

.hero-text h2 {
  font-family: "Fredoka", sans-serif;
  margin-right: 100px;
  font-size: 75px;
  line-height: 60px;
}

.hero-text p {
  font-family: "Fredoka", sans-serif;
  margin-top: 10px;
  margin-bottom: 50px;
}

.btn button {
  font-family: "Fredoka", sans-serif;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;

  color: white;
  display: inline-block;
  background-color: rgb(34, 83, 99);
  outline: none;
  padding: 10px 50px 10px 50px;
  font-size: 15px;
  border-radius: 7px;
  letter-spacing: 2px;
  transition: ease-in-out 0.3s;
}

.btn button:hover {
  transform: translateY(-2px);
  background-color: lightblue;
  color: black;
}

@media (max-width: 768px) {
  .hero-main {
    flex-direction: column;
    min-height: auto;
    padding: 60px 0;
    text-align: center;
  }

  .hero-main img {
    padding-bottom: 80px;
    order: 1;
  }
  .hero-text {
    order: 2;
  }
}

@media (max-width: 768px) {
  .hero-text h2 {
    margin-right: 0;
  }
}
